
header:not(#nutritionFacts) {
  position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
  background-color: rgb(72, 122, 59);
}
header:not(#nutritionFacts) * {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
header:not(#nutritionFacts) h1 {
  font-family: serif;
  background: -webkit-linear-gradient(#00ab1b, #6cf03e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header:not(#nutritionFacts) a {
  display: inline-block;
  color: white;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
/* Dropdown Button */
.dropbtn {
 background-color: #4CAF50;
 color: white;
 font-size: 16px;
 border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 right: 0px;
 top: 50px;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.center {
  margin: auto;
  text-align: center;
  display: inline-block;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.popup {
  border: 3px solid black;
  border-radius: 4px;
  z-index: 1000;
}
img
{
  max-width: 150px;
  max-height: 150px;
  display: inline-block;
}

h1, h2, h3, h4 {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
fieldset {
  border:2px solid rgb(68, 80, 77);
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  width:80%;
  margin-top: 10px;
}

.filter {
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  margin-top: 1px;
  margin-bottom: 1px;
}
.filter:hover {
  text-decoration: underline;
}

.tab-2{
	display:inline-block; width:TWO-TAB-WIDTH;
}

.center-outside {
  text-align: center;
}

.center-div {
  display: inline-block;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}
.center-div:not(.noformbg) {
  background-color: rgb(209, 209, 209);
}

h1 {
  color: #FF0000;
}

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;

  background: rgb(255, 255, 255);
  color: #6a7480;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:20px;
}
/*
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  .panel-default > .panel-heading {
    background-color: rgb(73, 73, 73);
  }
  a[data-toggle = collapse] {
    color: white;
  }
  .collapse.in {
    background-color: rgb(52, 52, 52);
  }
  .well {
    background-color: #292929;
  }
  .row {
    background-color: rgb(62, 74, 71);
  }
  input[type=text] {
    background-color:#575757;
  }
  input:placeholder {
    color: black;
  }

  input[type=submit] {
    background-color:#575757;
  }

  input[type=number] {
    background-color:#575757;
  }

  button {
    background-color:#575757;
  }

  input[type=button] {
    background-color:#e3e5e8;
    border: 2px solid #e3e5e8;
    border-radius: 4px;
    padding: 12px 20px;
    font-size:14px;
    cursor: pointer;
  }

  .cellFormat {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
  }

  input[type=password] {
    background-color:#e3e5e8;
    border: 2px solid #e3e5e8;
    border-radius: 4px;
    padding: 12px 20px;
    font-size:14px;
  }
}*/

input, textarea {
 -moz-user-select: text;
}

input[type=text] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=submit] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=number] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
  margin-top: 8px;
}

input[type=button] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
}

input[type=password] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}
input[type=checkbox] {
  margin-left: 5px;
  margin-right: 5px;
}
input[type=checkbox]:checked {
  border: 7px solid blue;
}

input[type=text]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=password]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=submit]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=number]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.fileIn {
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.upload-btn-wrapper input[type=file]:hover {
  cursor: pointer;
  background-color: green;
}

input:focus {
  outline: none;
}

select {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 5px;
  font-size:14px;
}

select:focus {
  outline: none;
}

option:focus {
  background-color: rgb(23, 80, 0);
}

img {
  cursor: pointer;
}
.glass
{
  margin: 10;
  background-image: linear-gradient(to bottom right, #7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.glass:not(.loading):hover
{
  cursor: pointer;
  color: white;
	background-image: linear-gradient(to bottom right, #57df7b, #47bf67);
}

.cellFormat {
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}
.foodtable {
  position: relative;
  width: 100%;
  border: 3px solid #73AD21;
}
#stuff {
  text-align: justify;
}
#stuff:after {
  content: '';
    display: inline-block;
    width: 100%;
}
#stuff img {
  width: 100px;
  height: 100px;
}

.nutritionDisplayLeft {
  height: 100vh;
  width: 22vw;
  position: fixed;
  right: 0;
  background-color: #73AD21;
  overflow-x: hidden;
  margin-top: 50px;
  top: 0px;
  padding-left: 10px;
}

.leftContent {
  height: 100vh;
  width: 78vw;
  position: fixed;
  left: 0;
  top: 0px;
  margin-top: 50px;
}

#filterToggle {
  margin-left: 4px;
  color: #ffffff;
  font-size: 1em;
  background-color: rgb(100, 149, 35);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.5s;
}

#filterToggle:hover {
  background-color: rgb(121, 194, 24);
  border-radius: 6px;
  -webkit-transition: 0.5s;
}

.inline-elements *:not(option){
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.loading {
  background-image: url(../images/loading.gif);
  background-size: cover;
}

#dateSelect * {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.membership-option {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 3px solid black;
  width: 25vmax;
  margin-top: 0px;
}

.membership-option li:hover {
  color: rgb(1, 42, 13);
  text-shadow: 1px 1px rgba(62, 80, 58, 0.52);
  -webkit-transition: 0.2s;
}
.membership-option li:hover {
  -webkit-transition: 0.2s;
}

.membership-option button {
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  box-shadow: 0px 1px 4px -2px #333;
  -webkit-transition: 0.5s;
}

.free {
  background: linear-gradient(#ffffff, #9e9e9f);
}
.free button {
  background: linear-gradient(#a8a8a8, #878787);
}
.free button:hover {
  background: linear-gradient(#8ea8a8, #708286);
  -webkit-transition: 0.5s;
}
.pro {
  background: linear-gradient(#ddfaf2, #99d9a5);
}
.pro button {
  background: linear-gradient(#abfae4, #63d779);
}
.pro button:hover {
  background: linear-gradient(#7af1d0, #36d554);
  -webkit-transition: 0.5s;
}
.premium {
  background: linear-gradient(#ddfaf2, #99a3d9);
}
.premium button {
  background: linear-gradient(#a9f1dd, #6879d6);
}
.premium button:hover {
  background: linear-gradient(#6ff0cc, #3045b8);
  -webkit-transition: 0.5s;
}

.membership-option h2, p, button {
  text-align: center;
}

.membership-option h2, li {
  color: black;
}

.membership-option .price {
  color: #757575;
}

.ingDiv {
  background-color: rgba(28, 28, 28, 0.48);
}

.eatHistorySect {
  background-color: rgb(199, 195, 195);
  padding: 7px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.eatHistorySect .eatHistoryDelete {
  position: relative;
  padding: 4px;
  margin: 0px;
  top: 2px;
  -webkit-transition: 0.5s;
}

.eatHistorySect .eatHistoryDelete:hover {
  background-color: rgb(158, 89, 89);
  border-color: rgb(158, 89, 89);
  color: white;
  -webkit-transition: 0.5s;
}

.eatHistorySect p {
  padding: 4px;
  margin: 0px;
}

.date select {
  margin-left: 10px;
  margin-right: 20px;
}

.date {
  color: black;
}
