<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  </head>
  <body>
    <div class="center-outside">
      <div class="center-div">
        <form action="/signup" method="post">
          Username<br>
          <input type="text" name="user"><br>
          Password<br>
          <input type="password" name="pass">
          <br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
