.center {
  margin: auto;
  text-align: center;
  display: inline-block;
}

img
{
  max-width: 150px;
  max-height: 150px;
  display: inline-block;
}

h1, h2, h3, h4 {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.tab-2{
	display:inline-block; width:TWO-TAB-WIDTH;
}

.center-outside {
  text-align: center;
}

.center-div {
  display: inline-block;
  background-color:#f2f3f5;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}

h1 {
  color: #FF0000;
}

body {
  background: white;
  color: #6a7480;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:20px;
}

input[type=text] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=submit] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=number] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
}

input[type=button] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
  cursor: pointer;
}

input[type=password] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=text]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=password]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=submit]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=number]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input:focus {
  outline: none;
}

select {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

select:focus {
  outline: none;
}

.glass
{
  margin: 10;
  background-image: linear-gradient(to bottom right, #7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.glass:hover
{
  cursor: pointer;
  color: white;
	background-image: linear-gradient(to bottom right, #57df7b, #47bf67);
}
