.center {
  margin: auto;
  text-align: center;
  display: inline-block;
}

.center-outside {
  text-align: center;
}

.center-div {
  display: inline-block;
  background-color:#f2f3f5;
  padding: 1em;
  border-radius:4px;
  margin-top: 100px;
}

h1, h2, h3, h4 {
  font-family: fantasy;
}
h1 {
  background: -webkit-linear-gradient(#ffed00, #ffc805);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2, h3, h4 {
  color: white;
}
body {
  background: white;
  color: #6a7480;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:20px;
}

label {
  color: white;
}

input[type=text] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=submit] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=password] {
  background-color:#e3e5e8;
  border: 2px solid #e3e5e8;
  border-radius: 4px;
  padding: 12px 20px;
  font-size:14px;
}

input[type=text]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=password]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input[type=submit]:focus {
  border: 3px solid #909090;
  -webkit-transition: 0.5s;
}

input:focus {
  outline: none;
}

.glass
{
  margin: 10;
  background-image: linear-gradient(to bottom right, #7ec200, #359e00);
  border: none;
  color: white;
  padding: 7px 16px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.glass:hover
{
  cursor: pointer;
  color: white;
	background-image: linear-gradient(to bottom right, #57df7b, #47bf67);
}
a {
  font-family: fantasy;
  display: block;
  font-size: 22;
}
